*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000d02;
    color: white;
    font-family: sans-serif;
    height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5em;
}
header p{
    font-size: 1.7rem;
}
.bitchat-icon{
    width: 60px;
    filter: drop-shadow(0px 0px 3px lime);
}
span{
    display: flex;
    align-items: center;
    margin-top: -40px;
    margin-left: 11px;
}
span .icon{
    width: 40px;
    border-radius: 50%;
    padding: 0.5em;
}
span p{
    font-size: 0.8rem;
    opacity: 70%;
    margin-left: -5px;
}
.p-One, .p-Two{
    width: fit-content;
    margin:1.5em 1.5em -10px 1em;
    font-size: 1.3rem;
}
.pfps{
    margin: 1.5em 1em;
    display: flex;    
    gap: 0.5em;
    overflow: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;

}
.pfps-icon{
    width: 100px;
    border: 1px solid gainsboro;
    border-radius: 0.5em;
    background: #2a2a2a;
    padding: 0.5em;
    cursor: pointer;
}

.username-input{
    border: 2px solid #d3f36b;
    background:#2a2a2a;
    color: white;
    width: 90%;
    height: 60px;
    display: block;
    margin:1em auto;
    padding: 1em;
    font-size: 1.4rem;
    border-radius: 0.5em;
    outline: none;
}

.createAcc-btn{
    border: none;
    width: 90%;
    height: 50px;
    display: block;
    margin: 1em auto;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 0.5em;
    cursor: pointer;
    background: #e5ff90;
}

.creating-account{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
}
.creating-account img{
    width: 250px;
}
.account-created{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.confettiGif{
    height: 70vh;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.selected-icon{
    background: #2a2a2a;
    width: 150px;
    border-radius: 2em;
    padding: 0.5em;
}
.account-created p{
    font-size: 2rem;
    margin-top: 1em;
}