*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000d02;
    color: white;
    font-family: sans-serif;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: #A52422;
}
nav span{
    display: flex; 
    align-items: center;
    margin: 1em;
    gap: 0.5em;
}
div img{
    width: 25px;
}
nav .uSrc{
    width: 30px;
    filter: drop-shadow(0px 0px 1px black);
}
nav p{
    font-size: 1rem;
    margin-top:4px;
}
nav div{
    padding: 1em;
}
main{
    height: 75vh;
    overflow: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
section {
    margin: 1em;
}
.user-name{
    color: #a92ad2;
    margin-bottom: 0.5em;
}
.user-text{
    margin-bottom: 0.5em;
    color: white;
    line-height: 1.5;
}
.text-time{
    opacity: 50%;
    font-size: 0.8rem;
}

.input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #404b42;
    width: 90%;
    height: 60px;
    padding: 0.5em;
    border-radius: 2em;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -10%);
    background-color: #000d02;
    margin: 0.5em auto;
}
input{
    color: #DDA77B;
    background: transparent;
    border: none;
    width: 80%;
    height: 50px;
    outline: none;
    margin-left: 1em;
    font-size: 1.2rem;
}
.back-div{
    background: #404b42;
    width:40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span-flex{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
